html, body {
    margin: 0;
    padding: 0;
    background-color: #c0d9fc;

}

.page-container {
  display:flex;
  background-color: #c0d9fc;
  flex-direction:column;
  height:100vh;
  
}

.page-container:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 500px solid #ABCCFB;
  border-left: 800px solid transparent;
  
  
}

/* .fig {width:2%;
padding:20px;} */

/* Menu */

header {
  display:flex;
  background-color: #c0d9fc;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-top:10px;
 
}



ul {
  list-style-type: none;
  padding:0;
}

li {
  display:inline;
  padding: 5px 35px;
  font-family: Avenir Next;
  font-weight:600;
  font-size:1em;
  color: #8B957B;
}

a {
  font-family: Avenir Next;
  font-weight:600;
  font-size:0.9em;
  color: #2F2F2F;
  text-decoration:none;
}


#wrapper {
  display:flex;
  justify-content:start;
  align-items:center;
  height:50%;
  margin-left:70px;
}


#wrapper2 {
  display:flex;
  justify-content:center;
  align-items:center;
  height:75%;
}

.landing {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  height:100%;
  align-items:flex-start;
}

.avatar {
  width:16%;
  align-self:center;
  margin-right:45px;
  margin-top:20px;

  cursor:pointer;
}




h1 {
  font-family: Avenir Next;
  font-weight:600;
  font-size:3.8em;
  color: #2F2F2F;
  margin-top:0;
  margin-bottom:-1em;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}



h2 {
  font-family: Avenir Next;
  font-weight:300;
  font-size:3.2em;
  color: #2F2F2F;
  letter-spacing:-2px;
  margin-bottom:0px;
  text-align:right;
}

h3 {
  font-family: Avenir Next;
  font-weight:500;
  font-size:2em;
  color: #2F2F2F;
}


#wrapper3 {
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  align-items:center;
  height:65%;
  z-index:1;
  
}


.gitlogo {
  width:80px;
  margin-right:10px;
}



.quote {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:94%;
  margin-left:-20px; 
}

.name {
  font-family: Avenir Next;
  font-weight:300;
  font-size:3em;
  letter-spacing:-2px;
  color: #2F2F2F;

  margin-bottom:-1.2em;
  animation: fadein 2s;
  animation-delay: 1.5s;
  -moz-animation: fadein 2s; /* Firefox */
  -moz-animation-delay:1.5s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-animation-delay:1.5s;
  -o-animation: fadein 2s; /* Opera */

  opacity: 0;
  animation-fill-mode: forwards;
}

.bottom {
  display:inline-block;
  position:relative;
}

.bottom:after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #e87f5a;
  width: 100%;
  transform: translateX(-50%);
  bottom: 5px;
  left: 50%;
}


.title {
  font-family: Avenir Next;
  font-weight:300;
  font-size:3em;
  letter-spacing:-2px;
  color: #2F2F2F;
  margin-top:50px;
  margin-bottom:-1.2em;
  animation: fadein 2s;
  animation-delay: 3s;
  -moz-animation: fadein 2s; /* Firefox */
  -moz-animation-delay:3s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-animation-delay:3s;
  -o-animation: fadein 2s; /* Opera */

  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 999px) {
 /*  h1 {font-size:2.7em;}
  .name {font-size:2em;}
  .title {font-size:1em;} */
  .landing {z-index:1;}
  .avatar {display:none;}
  #wrapper3 {
  flex-direction:column;
  justify-content:center;
;}
}

@media (max-width: 583px) {
  h1 {font-size:3.5em;}
  .name {font-size:2.5em;}
  .title {font-size:2em;} 

}

@media (max-width: 390px) {
  h1 {font-size:3em;}
  .name {font-size:2em;}
  .title {font-size:1.7em;} 

}

@media (max-width: 320px) {
  h1 {font-size:2.8em;}
  .name {font-size:1.8em;}
  .title {font-size:1.5em; margin-top:35px;} 
 
  
}
